@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "Index";
}

@if (@Context.Session.GetString("Account Number") != null)
{
    <h2>
        Welcome, @Context.Session.GetString("Full Name")!
    </h2>
}
else
{
    <h2>
        Welcome!
    </h2>
    <h5>
        Please login first.
    </h5>
    <input type="button" value="Login" onclick="location.href='@Url.Action("Login", "Customers")'" />
    <h5>
        Are you a new customer?
    </h5>
    <input type="button" value="Register" onclick="location.href='@Url.Action("Create", "Customers")'" />
}



