@model ATMWebApplication.Models.Customer
@{ ViewBag.Title = "Deposit"; }

<h1>Deposit</h1>
<form class="form-group" method="POST">
    <h4>Enter Deposit Amount</h4>
    <label asp-for="Balance" class="control-label"></label>
    <input asp-for="Balance" class="form-control" />
    <input type="submit" value="Deposit" class="btn btn-primary" />
</form>



