@using Microsoft.AspNetCore.Http;
@{ ViewBag.Title = "Welcome"; }

<h2>Welcome @Context.Session.GetString("Full Name")</h2>

@*create menu button with logo*@
<p>
    Name: @Context.Session.GetString("Full Name")
    <br />
    Account Number: @Context.Session.GetString("Account Number")

    <br />
    Balance: @Context.Session.GetInt32("Balance")



</p>