@{ ViewBag.Title = "Welcome"; }

<h2>Welcome @ViewBag.FullName</h2>

<p>
    Name: @ViewBag.FullName
    <br />
    Account Number: @ViewBag.AccountNum
    <br />
    Balance: @ViewBag.Balance

</p>